@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> About the library </h2>
<base href="http://localhost:54725/About/">
@Html.ActionLink("Opening times", "OpeningTimes")
<br /> @Html.ActionLink("Library staff", "Librarian")