﻿
@{
    ViewBag.Title = "Librarian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 10px;
        }

        th {
            color: #0099cc;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Library staff</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Tel: +353 1 402 +</th>
        </tr>
        <tr>
            <td>Browne, Daragh</td>
            <td>1234</td>
        </tr>
        <tr>
            <td>Fortune, Faoilean</td>
            <td>2345</td>
        </tr>
        <tr>
            <td>Nolan, Tavi</td>
            <td>3456</td>
        </tr>
        <tr>
            <td>Yang, Erik</td>
            <td>4567</td>
        </tr>
    </table>
</body>
</html>
