@{
    ViewBag.Title = "Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Features</h2>
<input type="button" value="A Book" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("BookSuggestions","Features")'" />
