@{
    ViewBag.Title = "Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Features</h2>
<br />
<input type="button" value="Request A Book" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("BookSuggestions","Features")'" />
<br />
<br />
<input type="button" value="Study Guide" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Study","Features")'" />
