
@{
    ViewBag.Title = "Study";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />
<div class="jumbotron">
    <h1 class="display-4">How to study!</h1>
    <p class="lead">This is a simple guide on how to study featuring some useful links.</p>
    <hr class="my-4">
    <ul>
        <li>Manage your time</li>
        <li>Get enough sleep</li>
        <li>Remove electronic distractions!</li>
        <li>Find a good study spot</li>
        <li>Eat well and snack smart</li>
        <li>Research some study strategies (links below)</li>
        <li>Make use of flashcards, lists and planners</li>
        <li>Break things into smaller parts</li>
        <li>Make a Study Sheet</li> 
    </ul>

    <p class="my-lg-4">
        <a class="btn btn-primary btn-lg" href="https://www.educationcorner.com/study-skills.html" role="button">More study tips!</a>
        <br />
        <br />
        <a class="btn btn-primary btn-lg" href="http://www.readwritethink.org/classroom-resources/lesson-plans/using-thieves-preview-nonfiction-112.html?tab=1" role="button">THIEVES study strategy</a>
        <br />
        <br />
        <a class="btn btn-primary btn-lg" href="http://www.adlit.org/strategies/19803/" role="button">SQ3R study strategy</a>
    </p>
</div>

